#HostKey /etc/ssh/ssh_host_ed25519_key

# Authentication:
PermitRootLogin no
AuthorizedKeysFile /etc/ssh/authorized_keys/%u
PubkeyAuthentication yes
PasswordAuthentication no
PermitEmptyPasswords no
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTTY no
PermitTunnel no
PrintMotd yes

# algorithms
KexAlgorithms -diffie-hellman-group1*
MACs -umac-64*,hmac-sha1*

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server
